body.home {
    background-color: white;
    background-image: url("images/yakuza-kiryu.gif");
    color: red;
    text-align: center;
    font-family: 'papyrus';
    padding:1rem;
  }

  body.destiny_page {
    background-color: red;
    color: black;
    text-align: center;
    font-family: papyrus;
    font-size: xx-large;
  }

  body.hell {
    background: black;
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }